* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: #eeeeee;
}

.shadow {
    box-shadow: 0px 2px 5px 2px darkgrey;
}

.shadow {

    width: 50%;
    background: rgb(255, 255, 255);
    color: black;
    margin: 40px;
    padding: 15px 15px;
    border : 1px black;
    border-radius: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 350px;

}

.navbar {

    width: 1px;
    background: rgb(255, 255, 255);
    color: black;
    margin: 5px;
    padding: 1px 1px;
    border : 1px black;
    border-radius: 1px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 350px;
    margin-left: 10px;
    margin-right: 1px;


}

.nav-link {
    font-size: 20pt;
    color: black;
    text-decoration: none;
    font-weight: 400;
    margin: -8cm;
}

.nav-item {
    list-style: none;
}

#content{
     margin-left: 400px;
     margin-top: -60px;
    

}
   